<div ng-controller="tableController">
    <h3>{{title}}</h3>
    <table class="table table-hover">
        <tr>
            <th>Delete</th>
            <th>Table number</th>
            <th>Table name</th>
            <th>Edit</th>
        </tr>
        <tr ng-repeat="table in tableList">
            <td>
                <button class="btn btn-danger">Delete</button>
            </td>
            <td>{{table[0]}}</td>
            <td><a ui-sref=".reservations">{{table[1]}}</a></td>
            <td>
                <button class="btn btn-primary">Edit</button>
            </td>
        </tr>
    </table>
    <button class="btn btn-warning">Add</button>
    <div class="row">
        <div ui-view="reservations"></div>
        <div ui-view="editpanel"></div>
    </div>
</div>